* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #210635, #f5d5e0);
}

.calculator {
  border: 1px solid #210635;
  padding: 20px;
  border-radius: 16px;
  background: linear-gradient(to bottom right, #210635, #7b337e);
  box-shadow: 0 3px 20px #210635;
}

input {
  width: 320px;
  border: none;
  border-radius: 20px;
  padding: 26px;
  margin-top: 10px;
  background: transparent;
  box-shadow: 0 3px 15px #21063540, 0 3px 30px #21063540, 0 3px 60px #21063540;
  font-size: 45px;
  text-align: right;
  cursor: pointer;
  color: #f5d5e0;
}

input::placeholder {
  color: #f5d5e0;
}

button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: #f5d5e0;
  font-size: 25px;
  box-shadow: -5px -4px 15px #2106357a;
  cursor: pointer;
}

.equal {
  background-color: #420d4b;
}

.operator {
  background-color: #f5d5e0b8;
  color: #420d4b;
  font-weight: bold;
}